

/dist/
*.log
node_modules
.env

.settings/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
modules/.settings
modules/.vscode

public/videos

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log
