<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= app_name %> server</title>
</head>

<style>
    html,
    body {
        margin: 0;
        padding: 0;
        font-family: Google Sans;
        padding: 0;
        background: whitesmoke;
    }

    .container {
        width: 40%;
        margin: auto;
    }
</style>

<body>
    <div class="container">
        <h3 style="text-align: center;"><%= app_name %> server</h3>
        <p style="text-align: center;">
            <a href="https://github.com/thenaim/fit_server" target="_blank" rel="noopener noreferrer">Github</a>
        </p>
    </div>
</body>

</html>